body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
  color: #333;
}

.container {
  max-width: 800px;
  margin: auto;
  padding: 20px;
  background: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1, h2, h3, h4 {
  color: #1e90ff;
  margin-top: 20px;
}

p {
  margin-bottom: 15px;
}

ol, ul {
  margin-bottom: 15px;
  padding-left: 20px;
}

ol li, ul li {
  margin-bottom: 5px;
}

a {
  color: #1e90ff;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}
